/*
Make the pictures black and white to see how to looks*/

.top_portion {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;

}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;

}

.whateverlogo {
	text-align: center;
	padding-top: 1cm;
	padding-bottom: -3cm;
	font-size: 15px;
/*	padding-bottom: -100px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FFFFFF;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

	

	

body {
/*	padding-top: 10px;*/
/*	margin: 2.5%;*/

}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.artistbutton1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.artistbutton1:hover {
    background-color: #000000;
    color: white;
}

.artistbutton2 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.artistbutton2:hover {
    background-color: #000000;
    color: white;
}

.artistbutton3 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.artistbutton3:hover {
    background-color: #000000;
    color: white;
}

.artistbutton4 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.artistbutton4:hover {
    background-color: #000000;
    color: white;
}

img {
	overflow: hidden;
}
	

.fixed-bg {
	background-image: url("images/whateverlogo_2.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}


.fixedbody {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg2 {
	background-image: url("images/djruez2.jpg");
	overflow: hidden;
	min-height: 300px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody2 {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg3 {
	background-image: url("images/celestial.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody3 {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg4 {
	background-image: url("images/whateverparty32.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody4 {
	margin-left:auto;
    margin-right:auto;
    width: auto;


}

.fixedbody42 {
	margin-left:auto;
    margin-right:auto;
    width: auto;


}





h1 {

	font-family: "monospace", "Andale Mono", monospace;
    font: bold;
	font-size: 3em;
    letter-spacing: -3px;
}


h2 {
    font-family: "monospace", "Andale Mono", monospace;
    font: bold;
    font-size: 2em;
    letter-spacing: -2px;
}

h3 {
    font-family: "monospace", "Andale Mono", monospace;
    font-size: 1.8em;
    letter-spacing: -2px;

}

h4 {
    font-family: "monospace", "Andale Mono", monospace;
    font-size: 1.4em;
    letter-spacing: -2px;

}


p, a{
	font-family: "monospace", "Andale Mono",monospace;
	color: black;
	font-stretch: ultra-condensed;
	letter-spacing: 0px;

}

.fixed-bgart {
	background-image: url("images/ruezpromo2.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}


.fixedbody1art {
	margin-left:auto;
    margin-right:auto;
    width: auto;


}

.fixed-bg2art {
	background-image: url("images/mavek.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody2art {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg3art {
	background-image: url("images/erikelias.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody3art {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg4art {
	background-image: url("images/dandylion2.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody4art {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bgrelease {
	background-image: url("images/songsfordreams2.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}


.fixedbody1release {
	margin-left:auto;
    margin-right:auto;
    width: auto;


}

.fixed-bg2release {
	background-image: url("images/aura.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody2release {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg3release {
	background-image: url("images/latinoise.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody3release {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fixed-bg4release {
	background-image: url("images/celestial.jpg");
	overflow: hidden;
	min-height: 350px;
	max-width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}

.fixedbody4release {
	margin-left:auto;
    margin-right:auto;
    width: auto;

}

.fadesection {
	opacity: 0;
}

